<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AlwaysOnTop" value="False" />
    <add key="UpperCase" value="True" />
    <add key="MinimizeToTray" value="False" />
    <add key="CloseToTray" value="False" />
    <add key="SingleInstance" value="False" />
    <add key="Md5Enable" value="True" />
    <add key="Sha1Enable" value="False" />
    <add key="Sha256Enable" value="True" />
    <add key="Sha384Enable" value="False" />
    <add key="Sha512Enable" value="False" />
  </appSettings>
</configuration>
